# Django - General
PYTHONBREAKPOINT="pudb.set_trace"
DJANGO_ENV=development
SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
DJANGO_STATIC_HOST=
DJANGO_ENABLE_PROFILING=false


# Caddy
DOMAIN_NAME=
SSL_EMAIL=

# Database
SQLITE_DB_PATH=


# Database
DJANGO_DATABASE_HOST=postgres
DJANGO_DATABASE_PORT=5432
CONN_MAX_AGE=0

# Postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Gunicorn
GUNICORN_WORKERS=1
GUNICORN_APPLICATION=server.wsgi
GUNICORN_WORKER_CLASS="sync"
GUNICORN_MAX_REQUESTS=2000
GUNICORN_REQUESTS_JITTER=400
