{% load icon %}
{% url 'main:widget-add-bookmark-search-tags' as search_tags_url %}
<div x-data="AddToCollectionsInput"
     data-loading-states
     @click.outside="onCollectionSearchInputBlurred()">
    <label class="form-control w-full">
        <div class="label">
            <span class="label-text">Add to Collection</span>
        </div>
        <div class="relative">
            <div data-loading-disable
                 data-loading-path="{{ form_url }}"
                 data-loading-class="input-disabled"
                 class="relative input input-bordered w-full overflow-hidden">
                <div data-loading-delay="500"
                     data-loading-path="{{ search_tags_url }}"
                     class="absolute left-2 inset-y-0 h-full flex items-center justify-center">
                    <span data-loading-class="hidden">{% icon 'search' width='18' height='18' %}</span>
                    <span data-loading-class-remove="hidden"
                          class="hidden loading loading-sm loading-ring"></span>
                </div>
                <input id="input-tag-search"
                       type="text"
                       name="query"
                       placeholder="Search Collections"
                       hx-get="{{ search_tags_url }}"
                       hx-target="#tags-search-results"
                       hx-trigger="keyup[target.value.length > 1] changed delay:700ms"
                       hx-swap="innerHTML"
                       data-loading-path="{{ form_url }}"
                       data-loading-disable="true"
                       @focus="onCollectionSearchInputFocused()"
                       x-model="collectionSearchInput"
                       data-loading-class="input-disabled"
                       class="border-0 ring-0 outline-0 absolute left-7 inset-y-0 right-0 focus:border-0 focus:outline-0 focus:ring-0" />
                {{ field }}
            </div>
            <div x-show="shouldShowResults" class="absolute inset-x-0 top-full mt-1">
                <div id="tags-search-results"></div>
            </div>
        </div>
        {% if field.help_text %}
            <div class="label">
                {% if field.help_text %}<span class="label-text-alt">{{ field.help_text }}</span>{% endif %}
            </div>
        {% endif %}
    </label>
    {% if field.errors %}
        <div>
            {% for error in field.errors %}<span class="text-sm text-error">{{ error }}</span>{% endfor %}
        </div>
    {% endif %}
    <div class="mt-4 flex flex-row flex-wrap gap-2">
        <template x-for="tag in existingCollections">
            <div class="px-3 py-1 bg-base-200 rounded-full max-w-fit flex flex-row gap-2">
                <div x-text="tag"></div>
                <button type="button" @click="removeTag(tag)">{% icon 'x' width="14" height="14" %}</button>
            </div>
        </template>
    </div>
</div>
